absl-py==1.0.0
ale-py==0.7.5
alembic==1.9.2
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.2.1
attrs==21.4.0
autopage==0.5.1
AutoROM==0.4.2
AutoROM.accept-rom-license==0.5.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
box2d-py==2.3.5
CacheControl==0.12.6
cachy==0.3.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cleo==0.8.1
click==8.1.3
cliff==4.1.0
clikit==0.6.2
cloudpickle==2.0.0
cmaes==0.9.1
cmd2==2.4.2
colorlog==6.7.0
comm==0.1.2
configparser==5.0.2
crashtest==0.3.1
cycler==0.11.0
Cython==0.29.28
debugpy==1.6.5
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.1
dm-control==1.0.2
dm-env==1.5
dm-tree==0.1.7
dm2gym==0.2.0
dmc2gym==1.0.0
docker-pycreds==0.4.0
docopt==0.6.2
entrypoints==0.4
executing==1.2.0
fasteners==0.17.3
fastjsonschema==2.16.2
filelock==3.0.12
fonttools==4.33.3
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
glfw==2.5.3
greenlet==2.0.1
gym==0.21.0
gym-notices==0.0.6
html5lib==1.1
idna==3.3
imageio==2.19.0
imageio-ffmpeg==0.4.7
importlib-metadata==4.13.0
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel==6.20.2
ipython==8.8.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
jedi==0.18.2
jeepney==0.4.3
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.6.3
jupyter_client==7.4.9
jupyter_core==5.1.3
jupyter_server==2.1.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
keyring==21.4.0
kiwisolver==1.4.2
labmaze==1.0.5
libtorrent==2.0.7
lockfile==0.12.2
lxml==4.8.0
lz4==4.3.2
Mako==1.2.4
MarkupSafe==2.1.2
matplotlib==3.5.2
matplotlib-inline==0.1.6
mistune==2.0.4
moviepy==1.0.3
msgpack==1.0.0
mujoco==2.2.0
mujoco-py==2.1.2.14
natsort==7.1.1
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.8
nbformat==5.7.3
nest-asyncio==1.5.6
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.22.3 
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
opencv-python==4.7.0.68
optuna==3.0.5
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pastel==0.2.1
pathtools==0.1.2
patsy==0.5.1
pbr==5.11.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
pipreqs==0.4.11
pkginfo==1.5.0.1
platformdirs==2.6.2
pluggy==1.0.0
poetry==1.1.1
poetry-core==1.0.0
prettytable==3.6.0
proglog==0.1.10
prometheus-client==0.15.0
promise==2.3
prompt-toolkit==3.0.36
protobuf==3.20.1
psutil==5.9.0
ptyprocess==0.6.0
pure-eval==0.2.2
py==1.11.0
pyaml==21.10.1
pycparser==2.21
pygame==2.1.0
pyglet==2.0.3
Pygments==2.14.0
pylev==1.3.0
PyOpenGL==3.1.6
pyparsing==2.4.7
pyperclip==1.8.2
pyproject-toml==0.0.10
pyrsistent==0.18.0
pytest==7.0.1
python-dateutil==2.8.2
python-json-logger==2.0.4
pytz==2022.1
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
sb3-contrib==1.7.0
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.12.2
SecretStorage==3.1.2
Send2Trash==1.8.0
sentry-sdk==1.5.11
setproctitle==1.2.3
shellingham==1.3.2
shortuuid==1.0.8
six==1.16.0
sklearn==0.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
stable-baselines3==1.7.0
stack-data==0.6.2
statsmodels==0.12.2
stevedore==4.1.1
subprocess32==3.5.4
swig==4.1.1
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.7.0
torch==1.13.1
torchaudio==0.11.0
torchvision==0.14.1
tornado==6.2
tqdm==4.64.0
traitlets==5.8.1
typing_extensions==4.2.0
urllib3==1.26.9
virtualenv==20.0.33
wandb==0.13.7
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.4.2
widgetsnbextension==4.0.5
yarg==0.1.9
zipp==3.8.0
